

  <form #formatata='ngForm' (ngSubmit)="onSubmit(formatata)">
    <p class="image_logo">
      <img src="../../assets/img/icon1.png" height=150px   />
    </p>  
    <p class="text_login">
      <b>Recupera password</b>
    </p> 
   <span class="error" *ngIf="error">{{ error }}</span>
    <mat-form-field class="example-full-width">
          <input matInput placeholder="email" type="email" required (ngModel)="email" id="email" name="email"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

    </mat-form-field> 
    <br><br>
    <p class="button-align">
        <button mat-raised-button color="warn" type="submit" name="action">Invia</button><br><br>
    </p>
  </form>

